CopyToCloudClients/C2CCore/Service References/WebServices/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://admin-pc/C2CService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/C2CService" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/C2CService" minOccurs="0" name="clientInfo" nillable="true" type="q1:ClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/C2CService" minOccurs="0" name="copyDetails" nillable="true" type="q2:CopiedDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastToMyOwnClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/C2CService" minOccurs="0" name="details" nillable="true" type="q3:CopiedDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>