CopyToCloudClients/C2CCore/Service References/WebServices/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/C2CService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/C2CService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="C2CID" type="xs:long" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
  <xs:complexType name="CopiedDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="C2CID" type="xs:long" />
      <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopiedDetails" nillable="true" type="tns:CopiedDetails" />
</xs:schema>